* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #343;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

main {
  background: #000;
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

main div h3 {
  color: #fff;
  margin-bottom: 10px;
}

main select,
input,
button {
  padding: 10px;
}

main select {
  margin-right: 10px;
}

main button {
  margin: 0 23px;
}
